# Ignoring Art WIP
# Blows up the git repo otherwise
# Art folder is actually a file
Art
Art.meta

# If you want to use some custom Plugins
# it won't mess up other people's set ups
Plugins/
Plugin/

# Created by unity
Temp/
Library/

# Created by Visual Studio
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# OS generated #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor Generated
.vs/